@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { background: #0b0e14; color: #e6eefc; }
.panel { background: #121826; border: 1px solid #233049; }
.muted { color: #9bb1d0; }

